<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manyou.wei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".AppData"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.manyou.provider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d434c5851dcc1477483535df7589f673" />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PlanCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PlanPublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.AccountSignupActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.ImageFactoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.GalleryUrlActivity"
            android:screenOrientation="portrait" />
        
    </application>

</manifest>